body {
  background-color: #ffffff;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcm00NjdiYXRjaDUtc2NlbmUtdy0wMDItbDBha3pzejYuanBn.jpg?s=Q8ou_oc12RdR0CvRNnFlBeEhs-ezvTRuZV8tLeqT-iw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
